$primary-text-color: #616161;
$primary-white-color: #fcfdfe;
$primary-bg-color: #fafbfd;
$title-text-color: #000000;
$blue-accent-color: #4285f4;
$red-logo-color: #ec5863;

$font-family-nav: "Raleway", sans-serif;
$font-family-body: "Rubik", sans-serif;
$font-size-body: 12px;
$font-height-body: 1.39;
$letter-spacing-body: 0.08em;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
